# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.pyc

# React
/node_modules/
/build/
/dist/

# Docker
.docker/
docker-compose.override.yml

# .env file
.env

# VSCode settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
