
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(#0d0d0d, #371692);
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
}